.r {
  border-right: 1pt solid white;
}
.t {
  border-top: 1pt solid white;
}

.l {
  border-left: 1pt solid white;
}

.b {
  border-bottom: 1pt solid white;
}
.white_t{
	border-top: 1pt solid white;
}

.white_b{
	border-bottom: 1pt solid white;
}
.white_l{
	border-left: 1pt solid white;
}
.white_r{
	border-right: 1pt solid white;
}

.whitePiece{
	opacity: 0.2;
	background-color: grey;
}
.redPiece{
	background-color:#FF3399;
}
.greenPiece{
	background-color: #99FF33;
}
.bluePiece{
	background-color: #33CCFF;
}
.yellowPiece{
	background-color: #FF6600;
}

