.r {
  border-right: 1pt solid black;
}
.t {
  border-top: 1pt solid black;
}

.l {
  border-left: 1pt solid black;
}

.b {
  border-bottom: 1pt solid black;
}
.white_t{
	border-top: 1pt solid white;
}

.white_b{
	border-bottom: 1pt solid white;
}
.white_l{
	border-left: 1pt solid white;
}
.white_r{
	border-right: 1pt solid white;
}